@page "/explore"
@using BlazorWasm.Services.Http
@using global::Shared.Models
@inject PostService PostService
@inject NavigationManager NavigationManager

<div class="user-posts">
    @if (posts != null)
    {
        posts.Reverse();
        @foreach (var post in posts)
        {
            <UserPost 
                Title="@post.Title" 
                Owner="@post.Owner.Name"
                OnClick="() => RedirectToExplore(post.Id)"
            />
        }
    }
    else
    {
        <p>No posts available.</p>
    }
</div>

@code {
    private List<Post> posts = new List<Post>();
    
    
    
    protected override async Task OnInitializedAsync()
    {
    // Fetch posts from the data service
        posts = await PostService.GetAllPostAsync();
    }
}

@code {

    private void RedirectToExplore(int id)
    {
        NavigationManager.NavigateTo($"/explore/{id}");
    }
}
