<div class="nav-menu">
    <NavItem Title="Home" Path="" Icon="home" />
    <NavItem Title="Login" Path="login" Icon="charge" />
    <NavItem Title="Explore" Path="explore" Icon="globe" />
    <NavItem Title="Create Post" Path="createpost" Icon="document" />
    <NavItem Title="Profile" Path="profile" Icon="person" />
    <NavItem Title="Register" Path="register" Icon="person" />
</div>