@using System.Security.Claims
@using BlazorWasm.Services
@inject NavigationManager navMgr

<div class="nav-menu">
    <NavItem Title="Home" Path="" Icon="home" />
    <NavItem Title="Explore" Path="explore" Icon="globe" />
    
    <AuthorizeView>
        <Authorized>
            <NavItem Title="Post" Path="createpost" Icon="document"/>
            <NavItem Title="Profile" Path="profile" Icon="person"/>
            <NavItem Title="Logout" Path="logout" Icon="logout"/>
        </Authorized>
        <NotAuthorized>
            <NavItem Title="Login" Path="login" Icon="login"/>
            <NavItem Title="Register" Path="register" Icon="person" />
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;

    private string? name;
    private string? id;
    private IEnumerable<Claim>? userClaims;
    private bool isLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal user = authState.User;
        isLoggedIn = user.Identity != null;
        
        if (!isLoggedIn) return;
        
        userClaims = user.Claims;
        name = user.Identity!.Name!;
        Claim idClaim = userClaims.FirstOrDefault(c => c.Type == "User ID");
        id = idClaim?.Value;
    }

}



