
<div class="user-post" @onclick="OnClick">
    <div class="user-post-title">@Title</div>
    @Body
    <div class="user-post-info">@Owner</div>
    @if (Id != null) {
        <div class="user-post-id">Id: @Id</div>
    }
</div>

@code {
    [Parameter]
    public Action? OnClick { get; set; } 
    
    [Parameter]
    public string Title { get; set; }
    
    [Parameter]
    public string? Body { get; set; }
    
    [Parameter]
    public string Owner { get; set; }

    [Parameter]
    public int? Id { get; set; }

}